# 15th Assignmnet- Random Forest - Company Data

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import cross_val_score, KFold
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("C:/Users/vishnu/Downloads/Company_Data.csv")
data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
first_column = data.iloc[:, 0]
median = first_column.median()
print("Median:", median)

Median: 7.49

In [4]:
result = [1 if value > median else 0 for value in first_column]

print(result)

[1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1]

In [5]:
data.iloc[:, 0] = [1 if value > median else 0 for value in first_column]

data.to_csv('modified_data.csv', index=False)

In [6]:
data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,1,138,73,11,276,120,Bad,42,17,Yes,Yes
1,1,111,48,16,260,83,Good,65,10,Yes,Yes
2,1,113,35,10,269,80,Medium,59,12,Yes,Yes
3,0,117,100,4,466,97,Medium,55,14,Yes,Yes
4,0,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,1,138,108,17,203,128,Good,33,14,Yes,Yes
396,0,139,23,3,37,120,Medium,55,11,No,Yes
397,0,162,26,12,368,159,Medium,40,18,Yes,Yes
398,0,100,79,7,284,95,Bad,50,12,Yes,Yes
399,1,134,37,0,27,120,Good,49,16,Yes,Yes

In [7]:
data=pd.get_dummies(data, columns = ['ShelveLoc', 'Urban', 'US'])
data

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,1,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,1,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,0,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,0,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,0,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,0,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,0,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,1,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [8]:
array = data.values

X = array[:,1:10]
Y = array[:,0]

In [9]:
cart = DecisionTreeClassifier()

model = BaggingClassifier(base_estimator=cart, n_estimators=100, random_state=7)

results = cross_val_score(model, X,Y, cv=5)

print(results.mean())

0.7975

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=123)

In [11]:
bg_clf=BaggingClassifier(base_estimator=cart, n_estimators=100, random_state=7)
bg_clf.fit(X_train, Y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=100,
                  random_state=7)

In [12]:
Y_pred_test=bg_clf.predict(X_test)

In [23]:
tree_train_pred=pd.DataFrame({'actual' : Y_test, 'pred' : Y_pred_test})
tree_train_pred

    actual  pred
0        1     1
1        1     1
2        1     1
3        1     1
4        1     1
..     ...   ...
75       1     0
76       0     0
77       1     1
78       1     0
79       0     0

[80 rows x 2 columns]

In [14]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

X = array[:,1:10]
Y = array[:,0]

model = RandomForestClassifier(n_estimators=100, max_features=3)
result1 = cross_val_score(model, X, Y, cv=10)
print(result1.mean())

0.7925

In [15]:
model.fit(X_train, Y_train)

RandomForestClassifier(max_features=3)

In [16]:
preds = model.predict(X_test)

In [17]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(Y_test, preds))

              precision    recall  f1-score   support

           0       0.69      0.82      0.75        33
           1       0.85      0.74      0.80        47

    accuracy                           0.78        80
   macro avg       0.77      0.78      0.77        80
weighted avg       0.79      0.78      0.78        80

In [18]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn import metrics

params_grid = {"n_estimators": [200, 250, 400],
    "max_depth": [5, 7, 9, 10],
    "min_samples_leaf": range(2, 9),
    "min_samples_split": [4, 8, 10, 12, 15, 18],
    "max_leaf_nodes": range(4, 8)}

dt_estimator = RandomizedSearchCV(RandomForestClassifier(random_state=0), param_distributions=params_grid, cv=10, random_state=0, n_jobs=-1 )

dt_estimator.fit(X_train, Y_train)

RandomizedSearchCV(cv=10, estimator=RandomForestClassifier(random_state=0),
                   n_jobs=-1,
                   param_distributions={'max_depth': [5, 7, 9, 10],
                                        'max_leaf_nodes': range(4, 8),
                                        'min_samples_leaf': range(2, 9),
                                        'min_samples_split': [4, 8, 10, 12, 15,
                                                              18],
                                        'n_estimators': [200, 250, 400]},
                   random_state=0)

In [19]:
dt_estimator.best_params_

{'n_estimators': 250,
 'min_samples_split': 10,
 'min_samples_leaf': 6,
 'max_leaf_nodes': 6,
 'max_depth': 7}

In [20]:
pred1 = dt_estimator.predict(X_test)

In [21]:
print(classification_report(Y_test,pred1))

              precision    recall  f1-score   support

           0       0.64      0.85      0.73        33
           1       0.86      0.66      0.75        47

    accuracy                           0.74        80
   macro avg       0.75      0.75      0.74        80
weighted avg       0.77      0.74      0.74        80